body {
  background: skyblue;
  font-family : " Verdana sans-serif ";
}
.main-heading{
  text-align: center;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li{
  list-style: none;
  margin: 2%;
}
